<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect to public directory if not already there
    #RewriteCond %{REQUEST_URI} !^/public/
    #RewriteRule ^(.*)$ /public/$1 [L]

    # Redirect all requests to index.php except existing files or directories
    RewriteCond %{REQUEST_FILENAME} !-f
    #RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ public/index.php/$1 [L]
</IfModule>