body{
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
h1.tell {
    font-family: 'Antigone';
    font-size: 70px;
    color: black;
}
.billboard_1_article {
    display: flex;
    gap: 15%;
    margin-left: 3%;
}
.billboard_2_article {
    display: block;
    margin: 5%;
}
p.subscribe {
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-family: 'Mazin';
    font-weight: bold;
}
.subscribe_box {
    width: 200px;
    background: yellow;
    border-radius: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}
img.paolo {
    width: 569px;
    aspect-ratio: 16/9;
    object-fit: cover;
}
img.terai {
    width: 569px;
    aspect-ratio: 16/9;
    object-fit: cover;
}
img.sa {
    width: 569px;
    aspect-ratio: 16/9;
    object-fit: cover;
}
img.cloud {
    width: 569px;
    aspect-ratio: 16/9;
    object-fit: cover;
}
img.lamp {
    width: 569px;
    aspect-ratio: 16/9;
    object-fit: cover;
}
img.pixel {
    width: 569px;
    aspect-ratio: 16/9;
    object-fit: cover;
}
img.red {
    width: 569px;
    aspect-ratio: 16/9;
    object-fit: cover;
}
img.tarko {
    width: 569px;
    aspect-ratio: 16/9;
    object-fit: cover;
}

.article_1{
    margin: 5%;
}
.section {
    display: flex;
    align-items: baseline;
    justify-content: center;
}
p.title {
    color: black;
    font-size: 22px;
    font-family: 'Mazin';
}
p.date {
    color: black;
    font-size: 22px;
    font-family: 'Mazin';color: black;
    font-size: 22px;
    font-family: 'Mazin';
}
a.readmore {
    color: black;
    font-size: 22px;
    font-family: 'Mazin';
}
.details {
    margin: 10%;
}
@media only screen and (max-width: 500px){
    body{
        overflow-x: hidden;
       }
    h1.tell {
        font-size: 17px;
    }
    p.subscribe {
        font-size: 17px;
    }
    .subscribe_box {
        width: 130px;
        height: 30px;
        margin-top: 20px;
    }
    img.paolo {
        width: 300px;
        height: 168.71px;
        
    }
    img.terai {
        width: 300px;
        height: 168.71px;
        
    }
    img.sa {
        width: 300px;
        height: 168.71px;  
    }
    img.cloud {
        width: 300px;
        height: 168.71px;
        
    }
    img.lamp {
        width: 300px;
        height: 168.71px;
        
    }
    img.pixel {
        width: 300px;
        height: 168.71px;
    }
    img.red {
        width: 300px;
        height: 168.71px;
    }
    img.tarko {
        width: 300px;
        height: 168.71px;
    }
    .section{
        display: grid;
    }
    .article_1 {
        margin: 5%;
        overflow: hidden;
    }
    .article_box {
        margin-top: 10%;
    }
}
@media screen and (max-width:320px) and (min-width:280px){
    h1.tell {
        font-size: 16px;
    }
}
@media screen and (max-width:900px) and (min-width:500px){
    .section{
        display: grid;
    }
    .article_1 {
        margin: 5%;
        overflow: hidden;
    }
    h1.tell {
        font-size: 53px;
    }
    .article_box {
        margin-top: 10%;
    }

}